<h1>Put the question and options here:</h1>
<form>
	<label> Question: <textarea ng-model="new_poll.question"></textarea></label>
	<label> Option 1: <textarea ng-model="new_poll.option_1.text"></textarea></label>
	<label> Option 2: <textarea ng-model="new_poll.option_2.text"></textarea></label>
	<label> Option 3: <textarea ng-model="new_poll.option_3.text"></textarea></label>
	<label> Option 4: <textarea ng-model="new_poll.option_4.text"></textarea></label>
	<input type="submit" ng-click="createPoll()">
</form>